#root {
  background-color: rgb(43, 145, 39);
  background-image: radial-gradient(circle, rgb(44, 158, 40), rgb(4, 49, 2));
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  font-family: "Quicksand";
}

.content {
  display: flex;
  justify-content: center;
}
.card-wrap {
  position: relative;
  background-color: red;
  width: 180px;
  perspective: 1000px;
}
.card-image {
  display: block;
  height: 250px;
  width: 180px;
  background-color: rgba(38, 71, 38, 0.486);
  box-shadow: 0 2.6px 22.6px rgba(0, 0, 0, 0.065),
    0 7.1px 62.6px rgba(0, 0, 0, 0.092), 0 17.2px 150.7px rgba(0, 0, 0, 0.118),
    0 57px 500px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  transform: rotateY(180deg);
}
.welcome {
  position: relative;
  opacity: 0;
  font-size: 50px;
  font-weight: 900;
  height: 100%;
}
.start-btn {
  box-shadow: 3px 4px 0px 0px #823932;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 37px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 17px 63px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.start-btn:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.start-btn:active {
  position: relative;
  top: 1px;
}
.pack {
  margin-top: -300px;
  width: 50px;
  display: flex;
  justify-content: center;
  margin-left: 18%;
}
